%tr{id:"#{order.id}"}
  %td= order.id
  %td.status= order.status
  %td.action
    - if order.ordered? || order.paid?
      = link_to "cancel", admin_order_path(order, order:{status:'cancelled'}), remote: true, method: :put, class: 'cancel'

    - if order.ordered?
      = link_to "mark as paid", admin_order_path(order, order:{status:'paid'}), remote: true, method: :put, class: 'paid'

    - if order.paid?
      = link_to "mark as completed", admin_order_path(order, order:{status:'completed'}), remote: true, method: :put, class: 'completed'

    = link_to "show", admin_order_path(order), class: 'show'

