%h1 Orders

%table
  - @orders.each do |order|
    %tr
      %th= "Order Date: #{order.created_at}"
      %th= "Order Id: #{order.id}"
    - order.items.each do |item|
      %tr
        %td{colspan:"2"}
          = "#{item.title}: $#{item.price}"
          = "Quantity: "
          = OrderItem.quantity_for(order.id, item.id)
    %tr
      %td{colspan:"2"}
        = "subtotal: #{order.subtotal}"
