%p
  %b Title:
  = item.title

%p
  %b Description:
  = item.desc

%p
  %b Price:
  = item.price

%p
  %b Images:
  = item.title

- if current_cart.items.include?(item)
  = button_to 'View cart', checkout_path, method: :get
- else

  = button_to 'Add to cart', cart_cart_items_path(item_id: item.id), method: :post, class: "btn_add_to_cart"

%hr
