%p
  %b Title:
  = item.title

%p
  %b Description:
  = item.desc

%p
  %b Price:
  = item.price

%p
  %b Images:
  = item.title

= button_to 'Add to cart', cart_items_path(cart_item: {item_id: item.id, cart_id: @cart.id}), method: :post

%hr
